<h1 style="margin: 100px 0 50px 100px">Booking</h1>
<div class="container-fluid">
  <% @bookings.each_with_index do |booking, index| %>
    <div class="row" style="background-color: #0F0920; border-radius: 32px; overflow: hidden; margin: 50px; padding: 30px">
      <div class="col-3">
        <div style="margin: 50px; border-radius: 32px; overflow: hidden; height: 200px; width: 200px">

          <%# <% if booking.planet.photo.attached? %> %>
            <%# <%= cl_image_tag booking.planet.photo.key, alt: "An avatar", class: "card-img"%> %>
          <%# <% else %>
            <%= image_tag "logo-color.png", alt: "A current_user", class: "card-img" %>
          <%# <% end %> %>
        </div>
      </div>

      <div class="col-6">
        <div class="row" style="margin-top: 60px">
          <h1><%= booking.planet.name %></h1>
        </div>
        <div class="row" style="margin-top: 10px">
          <p style="font-style: Inter; font-size: 12px">
            <%= booking.planet.details %>
          </p>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-1">
            <i class="bi bi-calendar-week"></i>
          </div>
          <div class="col-4">From: <%= booking.start_date %></div>
          <div class="col-4">To: <%= booking.end_date %></div>
          <div class="col-4">Price: <i class="bi bi-currency-bitcoin"></i><%= @prices[index] %></div>
        </div>
        <%= link_to "See details", planet_path(booking.planet) %>
      </div>

      <div class="col-3 text-end">
        <%= link_to booking_path(booking), data: { turbo_method: :delete } do %>
          <div style="font-size: 40px; margin: 10px 10px"><i class="fa-solid fa-trash"></i></div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
