<div class="search-container">
  <div class="page-title">
    <h1>Gallery</h1>
    <h6>Help us support lorem lorem Help us support</h6>
  </div>

  <div class="search-bar">
    <%= form_with(url: planets_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>

</div>

<div class="card-container">
  <% @planets.each do |planet| %>
    <div class="card">
      <%= link_to planet_path(planet), class: "card-link" do %>
        <%= image_tag "logo.png", alt: "text", class: "card-img" %>
        <h3><%= planet.name %></h3>
        <p><%= planet.details %></p>
        <p><%= planet.price %>$ per night</p>
        <%= link_to "Learn more", planet_path(planet), class: "button-blue card-button"  %>
      <% end %>
    </div>
  <% end %>
</div>

<div>
<%= link_to "Add a planet", new_planet_path %>
</div>
