<div class="azoutplanet">
  <div class="addnewplanet">
    <h1>Add a Planet</h1>
    <div class="form-inputs">
      <%= simple_form_for @planet do |f| %>
      <%= f.input :name %>
      <%= f.input :details %>
      <%= f.input :price, placeholder: "BitCoin" %>
      <%= f.input :distance, placeholder: "AU" %>
      <%= f.input :temperature, placeholder: "°F" %>
      <%# <%= f.input :photo, as: :file %> %>
    </div>


      <%= f.submit class: 'submit-btn' %>


    <% end %>

    <div class="backbutton">
    <%= link_to "back", planets_path %>
    </div>

  </div>

</div>
