<div data-controller="show-planet">

    <div class="card-long row" style="background-color: #0F0920">

      <div class="card-long-img-container col-3">
        <img src="https://cdn.pixabay.com/photo/2023/09/30/09/12/dachshund-8285220_1280.jpg" class="card-long-img">
      </div>

      <div class="card-long-text-container col-6">

          <h1 style="color: white; font-size: 60px"><%= @planet.name %></h1>
          <div class="icon-container">

            <div class="icon-items">
              <i class="bi bi-thermometer-half"></i>
              <h6>Temperature</h6>
              <p><%= @planet.temperature %>°F</p>
            </div>

            <div class="icon-items">
              <i class="bi bi-geo-alt-fill"></i>
              <h6>Distance</h6>
              <p><%= @planet.distance %> AU</p>
            </div>

            <div class="icon-items">
              <i class="bi bi-tag"></i>
              <h6>Price</h6>
              <p><i class="bi bi-currency-bitcoin" style="font-size:16px"><%= @planet.price %> / night</i></p>
            </div>

          </div>
          <div class="card-long-button-container">
            <%= link_to "Rent", "#footer", class: "button button-blue" %>
            <%= link_to "Back", planets_path, class: "button button-revert-blue" %>
          </div>

      </div>

    </div>


    <div class="container-fluid">
    <div class="row">
      <div class="col-9" style="box-shadow: 1px 0px 0px #0F0920;">
        <div style="margin: 50px 0 50px 100px">
          <h1>Description</h1>
        </div>
        <div style="margin: 0 150px 0 150px; font-size: 12px">
          <p class="fw-light">Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.sit amet consectetur adipisicing elit. Debitis, deserunt sunt eos vitae numquam iure aliquid doloremque laudantium maiores unde tempora est voluptatem dolores aspernatur nesciunt saepe quam, vero sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempore exercitationem, atque recusandae, fuga corporis sunt laudantium accusamus a adipisci sapiente, reiciendis impedit placeat? Pariatur aliquid quasi quia labore dolores.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem fugit a in commodi maiores nesciunt, corrupti magni repellendus illum nemo optio alias quisquam tempore dolorem itaque doloribus, mollitia quo voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis earum enim expedita asperiores corrupti maxime, voluptatem corporis voluptatibus obcaecati beatae itaque culpa accusamus a. Culpa mollitia voluptatem eum libero necessitatibus.</p>
        </div>
      </div>
      <div class="col-3" style= "text-align: center">
        <div style="font-size: 50px; margin-top: 150px"><i class="bi bi-heart"></i></div>
          <div>
            <h2 style="font-size: 15px">12.3k Likes</h2>
          </div>
        <div style="font-size: 50px; margin-top: 60px"><i class="bi bi-chat-square-dots"></i></div>
          <div>
            <h2 style="font-size: 15px">83 Comments</h2>
          </div>
      </div>
    </div>
  </div>

  <div class="section-container col-12">

    <div style="margin: 50px 0 50px 100px">
      <h1 data-show-planet-target="bookingSection">Booking System</h1>
    </div>

    <div class="row col-12">
      <div class="col-7">
        <div class="row">
          <div class="col" style="padding-left: 150px">
            <div id="fromdate">
              <h4>FROM</h4>
            </div>
          </div>
          <div class="col">
            <div id="todate">
              <h4>TO</h4>
            </div>
          </div>
        </div>
      </div>


        <div class="col-4">

          <h5 style="margin-top: 45px">Date Pikr</h5>

          <% @bookings.each do |booking| %>
            <input type="hidden" name="planets" class="start" style="color: white" value="<%= booking[:start_date] %>">
            <input type="hidden" name="planets" class="end" value="<%= booking[:end_date] %>">
          <% end %>

          <%= simple_form_for [@planet, @booking] do |f| %>
            <%= f.input :start_date, as: :string %>
            <%= f.input :end_date, as: :string %>
            <%= f.submit %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<script>

let disableRanges = [];
const startDate = document.querySelectorAll('.start');
const endDate = document.querySelectorAll('.end');

for (let i = 0; i < startDate.length; i++) {
  disableRanges.push({ from: startDate[i].value, to:endDate[i].value})
}

const fs = flatpickr("#fromdate", {
  inline: true,
  minDate: "today",
  dateFormat: "Y-m-d",
  disable: disableRanges,
  onChange: value => {
    const selectedDate = value[0];
    const dateStr = selectedDate.getDate() + '/' + (selectedDate.getMonth() + 1) + '/' + selectedDate.getFullYear();
    document.getElementById('booking_start_date').value = dateStr;
    td.set('minDate', selectedDate)
  },
});

const td = flatpickr("#todate", {
  inline: true,
  minDate: "today",
  dateFormat: "Y-m-d",
  disable: disableRanges,
  onChange: value => {
    const selectedDate = value[0];
    const dateEnd = selectedDate.getDate() + '/' + (selectedDate.getMonth() + 1) + '/' + selectedDate.getFullYear();
    document.getElementById('booking_end_date').value = dateEnd;
  }
});
</script>
