<div class="search-container row d-flex justify-content-between">
  <div class="page-title col-5">
    <h1>My Planets</h1>
    <h6>The planets that you have rented</h6>
  </div>
</div>

<div class="card-container">
  <% @planets.each do |planet| %>
    <div class="card">
      <%= link_to planet_path(planet), class: "card-link" do %>
      <div style="font-size: 25px; margin-left: 80%; margin-top: 5%;">
        <%= link_to planet_path(planet), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
        <% if planet.photo.attached? %>
          <%= cl_image_tag planet.photo.key, alt: "A planet", class: "card-img"%>
        <% else %>
          <%= image_tag "logo-color.png", alt: "A planet", class: "card-img" %>
        <% end %>
      <h3 style="color: #9795b5"><%= planet.name %></h3>
      <p><%= planet.price %>$ per night</p>
      <%= link_to "Learn more", planet_path(planet), class: "button button-blue card-button"  %>
      <div class="col-3 text-end" style='z-index: 1000;'>

      </div>
      <% end %>
    </div>
  <% end %>
</div>
