<div class="nav__link-container">
  <%= link_to "Home", root_path, class: "nav__link" %>
  <%= link_to "Gallery", planets_path, class: "nav__link" %>
  <%= link_to "My Booking", bookings_path, class: "nav__link" %>
  <%= link_to "Why Us?", root_path+"#footer", class: "nav__link" %>
</div>

<div class="nav__profile-container">
    <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, alt: "An avatar", class: "avatar"%>
      <% else %>
        <%= image_tag "logo.png", alt: "A current_user", class: "avatar" %>
      <% end %>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Edit profile", edit_user_registration_path , class: "dropdown-item" %>
      <%= link_to "My planets", created_path, class: "dropdown-item" %>
      <%= link_to "Add a planet", new_planet_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
</div>